<% team_code = @team&.fetch("team_code", nil).to_s %>

<section id="draft-assets">
  <%= render partial: "entities/teams/draft_pick_provenance", locals: {
    draft_assets: @draft_assets,
    team_code: team_code
  } %>
</section>
