<% content_for :title, "Teams" %>

<%
  signals_literal = "{ teamsquery: #{@query.to_json}, teamsconference: #{@conference_lens.to_json}, teamspressure: #{@pressure_lens.to_json}, teamssort: #{@sort_lens.to_json}, comparea: #{@compare_a_id.to_s.to_json}, compareb: #{@compare_b_id.to_s.to_json}, selectedteamid: #{@selected_team_id.to_s.to_json}, overlaytype: #{@selected_team_id.present? ? 'team'.to_json : 'none'.to_json} }"
%>

<div id="teams-workspace" class="h-screen w-screen flex flex-col overflow-hidden bg-background" data-signals="<%= signals_literal %>">
  <div id="flash"></div>

  <%= render partial: "entities/teams/commandbar" %>

  <div id="viewport" class="flex flex-1 overflow-hidden relative">
    <%= render partial: "entities/teams/workspace_main" %>

    <aside
      id="rightpanel"
      class="w-[30%] min-w-[320px] max-w-[480px] border-l border-border bg-background overflow-hidden relative"
    >
      <div
        id="rightpanel-base-layer"
        class="absolute inset-0 overflow-y-auto overflow-x-hidden overscroll-y-contain scroll-touch pt-2 px-4 pb-4"
      >
        <%= render partial: "entities/teams/rightpanel_base" %>
      </div>

      <div id="rightpanel-overlay"></div>
    </aside>
  </div>
</div>
