<% boot_error = local_assigns.fetch(:boot_error, nil) %>
<% salary_year = local_assigns.fetch(:salary_year, 2025) %>
<% salary_years = local_assigns.fetch(:salary_years, SalaryBookHelper::SALARY_YEARS) %>
<% initial_view = local_assigns.fetch(:initial_view, "salary-book") %>
<% initial_team = local_assigns.fetch(:initial_team, nil) %>
<% initial_players = local_assigns.fetch(:initial_players, []) %>
<% initial_cap_holds = local_assigns.fetch(:initial_cap_holds, []) %>
<% initial_exceptions = local_assigns.fetch(:initial_exceptions, []) %>
<% initial_dead_money = local_assigns.fetch(:initial_dead_money, []) %>
<% initial_picks = local_assigns.fetch(:initial_picks, []) %>
<% initial_team_summaries = local_assigns.fetch(:initial_team_summaries, {}) %>
<% initial_team_meta = local_assigns.fetch(:initial_team_meta, {}) %>
<% initial_team_codes = local_assigns.fetch(:initial_team_codes, []) %>
<% initial_team_meta_by_code = local_assigns.fetch(:initial_team_meta_by_code, {}) %>
<% initial_tankathon_rows = local_assigns.fetch(:initial_tankathon_rows, []) %>
<% initial_tankathon_standing_date = local_assigns.fetch(:initial_tankathon_standing_date, nil) %>
<% initial_tankathon_season_year = local_assigns.fetch(:initial_tankathon_season_year, nil) %>
<% initial_tankathon_season_label = local_assigns.fetch(:initial_tankathon_season_label, nil) %>

<main
  id="maincanvas"
  class="flex-1 min-w-0 overflow-y-auto overflow-x-hidden bg-background relative overscroll-y-contain scroll-touch isolate"
>
  <% if initial_view == "tankathon" %>
    <%= render partial: "salary_book/maincanvas_tankathon_frame", locals: {
      team_code: initial_team,
      year: salary_year,
      standings_rows: initial_tankathon_rows,
      standing_date: initial_tankathon_standing_date,
      season_year: initial_tankathon_season_year,
      season_label: initial_tankathon_season_label,
      error_message: boot_error
    } %>
  <% elsif initial_view == "injuries" %>
    <%= render partial: "salary_book/maincanvas_injuries_frame", locals: {
      team_code: initial_team,
      team_codes: initial_team_codes,
      team_meta_by_code: initial_team_meta_by_code,
      year: salary_year,
      error_message: boot_error
    } %>
  <% else %>
    <%= render partial: "salary_book/maincanvas_team_frame", locals: {
      team_code: initial_team,
      players: initial_players,
      cap_holds: initial_cap_holds,
      exceptions: initial_exceptions,
      dead_money: initial_dead_money,
      picks: initial_picks,
      team_summaries: initial_team_summaries,
      team_meta: initial_team_meta,
      year: salary_year,
      salary_years: salary_years,
      boot_error: boot_error,
      empty_message: "No teams available for #{salary_year}."
    } %>
  <% end %>
</main>
