<div id="rightpanel-base" class="space-y-4">
  <%= render partial: "entities/shared/known_slugs", locals: {
    entity_type: "player",
    entity_id: @player_id,
    path_prefix: "players"
  } %>
</div>
