<% content_for :title, "Drafts" %>

<% query_suffix = "" %>
<% pane_get_expr = "@get('/drafts/pane?view=' + $draftview + '&year=' + $draftyear + '&round=' + $draftround + '&team=' + $draftteam)" %>
<% update_url_expr = "window.history.replaceState({}, '', '/drafts?view=' + $draftview + '&year=' + $draftyear + '&round=' + $draftround + '&team=' + $draftteam)" %>
<% refresh_expr = "#{pane_get_expr}; #{update_url_expr}" %>

<% root_attrs = "data-signals=\"{ draftview: '#{@view}', draftyear: '#{@year}', draftround: '#{@round || 'all'}', draftteam: '#{@team || ''}' }\"" %>

<div id="entity-directory" class="min-h-screen w-full bg-background" <%= root_attrs.present? ? root_attrs.html_safe : "" %>>
  <%= render partial: "entities/shared/commandbar", locals: {
    active_entity_scope: "drafts",
    header_knobs: [
      {
        label: "View",
        options: [
          {
            type: "radio",
            name: "draft-view",
            id: "draft-view-picks",
            value: "picks",
            label: "Picks",
            checked: @view == "picks",
            bind: "draftview",
            on_change: refresh_expr
          },
          {
            type: "radio",
            name: "draft-view",
            id: "draft-view-selections",
            value: "selections",
            label: "Selections",
            checked: @view == "selections",
            bind: "draftview",
            on_change: refresh_expr
          }
        ]
      },
      {
        label: "Round",
        options: [
          {
            type: "radio",
            name: "draft-round",
            id: "draft-round-all",
            value: "all",
            label: "All",
            checked: @round.nil? || @round == "all",
            bind: "draftround",
            on_change: refresh_expr
          },
          {
            type: "radio",
            name: "draft-round",
            id: "draft-round-1",
            value: "1",
            label: "1st",
            checked: @round == "1",
            bind: "draftround",
            on_change: refresh_expr
          },
          {
            type: "radio",
            name: "draft-round",
            id: "draft-round-2",
            value: "2",
            label: "2nd",
            checked: @round == "2",
            bind: "draftround",
            on_change: refresh_expr
          }
        ]
      }
    ]
  } %>

  <main class="px-4 pb-8 space-y-6">
    <%= render partial: "entities/drafts/results" %>
  </main>
</div>
