<% content_for :title, "Trades" %>

<% pane_get_expr = "@get('/trades/pane?daterange=' + $tradedaterange + '&team=' + $tradeteam)" %>
<% update_url_expr = "window.history.replaceState({}, '', '/trades?daterange=' + $tradedaterange + '&team=' + $tradeteam)" %>
<% refresh_expr = "#{pane_get_expr}; #{update_url_expr}" %>

<% root_attrs = "data-signals=\"{ tradedaterange: '#{@daterange}', tradeteam: '#{@team || ''}' }\"" %>

<div id="entity-directory" class="min-h-screen w-full bg-background" <%= root_attrs.present? ? root_attrs.html_safe : "" %>>
  <%= render partial: "entities/shared/commandbar", locals: {
    active_entity_scope: "trades",
    header_knobs: [
      {
        label: "Date Range",
        options: [
          {
            type: "radio",
            name: "trade-daterange",
            id: "trade-daterange-today",
            value: "today",
            label: "Today",
            checked: @daterange == "today",
            bind: "tradedaterange",
            on_change: refresh_expr
          },
          {
            type: "radio",
            name: "trade-daterange",
            id: "trade-daterange-week",
            value: "week",
            label: "This Week",
            checked: @daterange == "week",
            bind: "tradedaterange",
            on_change: refresh_expr
          },
          {
            type: "radio",
            name: "trade-daterange",
            id: "trade-daterange-month",
            value: "month",
            label: "This Month",
            checked: @daterange == "month",
            bind: "tradedaterange",
            on_change: refresh_expr
          },
          {
            type: "radio",
            name: "trade-daterange",
            id: "trade-daterange-season",
            value: "season",
            label: "This Season",
            checked: @daterange == "season",
            bind: "tradedaterange",
            on_change: refresh_expr
          },
          {
            type: "radio",
            name: "trade-daterange",
            id: "trade-daterange-all",
            value: "all",
            label: "All",
            checked: @daterange == "all",
            bind: "tradedaterange",
            on_change: refresh_expr
          }
        ]
      }
    ]
  } %>

  <main class="px-4 pb-8 space-y-6">
    <%= render partial: "entities/trades/results" %>
  </main>
</div>
