<% content_for :title, "Agencies" %>

<%
  signals_literal = "{ agencyquery: #{@query.to_json}, agencyactivity: #{@activity_lens.to_json}, agencyyear: #{@book_year.to_s.to_json}, agencysort: #{@sort_key.to_json}, agencydir: #{@sort_dir.to_json}, overlaytype: 'none', overlayid: '' }"
%>

<div id="agencies-workspace" class="h-screen w-full flex flex-col overflow-hidden bg-background" style="height: 100dvh;" data-signals="<%= signals_literal %>">
  <div id="flash"></div>

  <%= render partial: "agencies/commandbar" %>

  <div id="viewport" class="flex flex-1 overflow-hidden relative">
    <main
      id="maincanvas"
      class="flex-1 min-h-0 min-w-0 overflow-y-auto overflow-x-hidden bg-background relative overscroll-y-contain scroll-touch isolate"
    >
      <%= render partial: "agencies/workspace_main" %>
    </main>

    <aside
      id="rightpanel"
      class="w-[30%] min-w-[320px] max-w-[480px] border-l border-border bg-background overflow-hidden relative"
    >
      <div
        id="rightpanel-base-layer"
        class="absolute inset-0 overflow-y-auto overflow-x-hidden overscroll-y-contain scroll-touch pt-3 px-4 pb-4"
      >
        <%= render partial: "agencies/rightpanel_base" %>
      </div>

      <div id="rightpanel-overlay"></div>
    </aside>
  </div>
</div>
